.app-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  background-color: #0077cc;;
  color: white;
  text-align: center;
  height: fit-content;
}

.app-main {
  flex-grow: 1;
  padding: 2rem;
}

.app-footer {
  background-color: #f2f2f2;
  
  text-align: center;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #ddd;
}

.nav-bar {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: rgba(22, 21, 21, 0.15);
  width: 100%;

}

.nav-bar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  
}

.nav-bar a:hover {
  background-color: #041d8d;
 
}

.nav-bar a.active {
  background-color: #fdfeff;
  color: rgb(19, 19, 19);
}
.nav-bar a.active:hover {
  background-color: #ffffff;
  color: rgb(19, 19, 19);
  
}
