.appointment-list-container {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  font-family: 'Segoe UI', sans-serif;
}

.appointment-list-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.filter-buttons {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 10px 0 20px 0;
  gap: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  background-color: #f9f9f9;
}

thead {
  background-color: #4c98af;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}


.search-input-container {
  margin-bottom: 15px;

}

.search-input {
  padding: 8px;
  width: 100%;
  min-width: 350px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #4c74af;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  width: 150px;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
  font-size: 18px;
  color: #777;
}
